<app-navbar></app-navbar>
<agm-map id="map" [latitude]="lat" [longitude]="lng" mapTypeId="hybrid" [zoom]=7 (mapClick)="placeMarker($event)" >
  <agm-marker *ngFor="let m of markers; "
  [latitude]="m.lat"
  [longitude]="m.lng"
  [markerDraggable]="true"
  (dragEnd)="markerDragEnd(markers.indexOf(m),$event)">
</agm-marker>
<!-- <agm-polyline [strokeColor]="red">
  <ng-container *ngFor="let m of markers; ">
    <agm-polyline-point  [latitude]="m.lat" [longitude]="m.lng">
    </agm-polyline-point>
</ng-container>
</agm-polyline> -->
<agm-polygon [paths]="markers" [strokeColor]="'#083478'" *ngFor="let m of markers "  [clickable]="true" [editable]="true" (polyMouseUp)="polyMouseUp(item,$event)" [visible]="markers.indexOf(m)==(markers.length-1)">
</agm-polygon>

</agm-map>

<div class="btn-group btn-group-toggle">
<label class="btn-primary" ngbButtonLabel>
  <button type="button" class="btn btn-primary" (click)="deleteLastPoint()">Delete Last Point</button>
</label>  
<label class="btn-primary" ngbButtonLabel>
    <button type="button" class="btn btn-primary" (click)="clearPoints()">Clear all ponits</button>
  </label>
<label class="btn-primary" ngbButtonLabel>
  <button type="button" class="btn btn-primary" (click)="calculate()">Calculate</button>
</label>
</div>

<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>



    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0Avje7JmeGuQ7HaIYoaOihszGXc5efNc">
    </script>
  </body>
</html> -->